.main {
    width: 145px;
    border-radius: 3px;
    border: 1px solid #000;
    background-color: #000;
    position: absolute;
    z-index: 2;
    bottom: 23px;
    left: -65px;
    padding: 5px 9px 6px 9px;
}
.triangle {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-top: 14px solid black;
    display: inline-block;
    position: absolute;
    right: 58px;
}

.commitsNumber {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
}